<div class="container mt-5 mb-2">
  <h2>Histórico de Pontos</h2>
  @for (transacao of transacoesVisiveis; track transacao.id) {
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>Transação {{ transacao.id }}#</mat-card-title>
      <mat-card-subtitle>{{
        transacao.dataTransacao | date : "dd/MM/yyyy HH:mm"
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex gap-3 mt-2">
        <p>
          <span
            class="fw-bold"
            [ngClass]="
              transacao.tipo == TipoTransacao.GANHO
                ? 'text-success'
                : 'text-danger'
            "
            >{{ transacao.tipo }}</span
          >
        </p>
        <p>Pontos: {{ transacao.pontos }}</p>
        <p>LivroId: {{ transacao.livroId }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  }

  <div class="pagination-controls">
    <button
      mat-raised-button
      color="primary"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual === 1"
    >
      Anterior
    </button>
    <span>Pagina {{ paginaAtual }} de {{ totalPaginas }}</span>
    <button
      mat-raised-button
      color="primary"
      (click)="proximaPagina()"
      [disabled]="paginaAtual === totalPaginas"
    >
      Próxima
    </button>
  </div>
</div>
