<div class="container mt-5 mb-2">
  <h2>Histórico de Pontos</h2>
  @for (transacao of transacoesVisiveis; track transacao.id) {
    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>Transação ID: {{ transacao.id }}</mat-card-title>
        <mat-card-subtitle>{{ transacao.data }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Livro ID: {{ transacao.livroId }}</p>
        <p>Tipo: {{ transacao.tipo }}</p>
        <p>Quantidade: {{ transacao.pontos }}</p>
      </mat-card-content>
    </mat-card>
  }

  <div class="pagination-controls">
    <button
      mat-raised-button
      color="primary"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual === 1"
    >
      Anterior
    </button>
    <span>Pagina {{ paginaAtual }} de {{ totalPaginas }}</span>
    <button
      mat-raised-button
      color="primary"
      (click)="proximaPagina()"
      [disabled]="paginaAtual === totalPaginas"
    >
      Próxima
    </button>
  </div>
</div>
